footer
    background: #2C3136
    .footer
        padding-top: 80px
        color: #ffffff
        @media screen and ( max-width: 960px )
            padding-top: 35px
        >div
            display: flex
            align-items: center
            @media screen and ( max-width: 960px )
                align-items: start
        li
            padding-left: 35px
            @media screen and ( max-width: 960px )
                padding-right: 35px
                padding-left: 0
        a
            color: #ffffff
        .footer_menu .menu
            *
                font-size: 16px
                font-weight: 700
                text-transform: uppercase
        .footer_bottom_menu
            padding-bottom: 70px
            @media screen and ( max-width: 960px )
                flex-direction: column-reverse
            nav
                margin-top: 50px
                @media screen and ( max-width: 960px )
                    margin-top: 10px
            *
                font-size: 14px
            a
                text-decoration: underline
        .copy,.footer_logo
            max-width: 250px
            display: flex
            a
                font-size: 22px
                font-weight: 600
                text-transform: uppercase
                text-decoration: none
                height: 45px
                img
                    height: 100%
        @media screen and ( max-width: 960px )
            .footer_logo
                margin-left: auto
    nav
        margin-left: auto
        @media screen and ( max-width: 960px )
            margin: 0
    ul.menu
        text-align: right
        @media screen and ( max-width: 960px )
            text-align: left
            padding: 0
            display: flex
            flex-direction: column
            li
                padding-bottom: 20px
@media screen and ( max-width: 960px )
    #footer-menu
        display: none
#footer-menu-mob
    padding-top: 30px
    @media screen and ( min-width: 961px )
        display: none
    a
        font-size: 16px
        font-weight: 700
        text-transform: uppercase