footer
    background: #2C3136
    .footer
        padding-top: 80px
        color: #ffffff
        >div
            display: flex
            align-items: center
            @media screen and ( max-width: 960px )
                align-items: start
        li
            padding-left: 35px
            @media screen and ( max-width: 960px )
                padding-right: 35px
                padding-left: 0
        a
            color: #ffffff
        .footer_menu .menu
            *
                font-size: 16px
                font-weight: 700
                text-transform: uppercase
        .footer_bottom_menu
            padding-bottom: 70px
            @media screen and ( max-width: 960px )
                flex-direction: column-reverse
            nav
                margin-top: 50px
            *
                font-size: 14px
            a
                text-decoration: underline
        .copy,.footer_logo
            max-width: 250px
        @media screen and ( max-width: 960px )
            .footer_logo
                margin-left: auto
    nav
        margin-left: auto
        @media screen and ( max-width: 960px )
            margin: 0
    ul.menu
        text-align: right
        @media screen and ( max-width: 960px )
            text-align: left
            padding: 0
            li
                padding-bottom: 20px
@media screen and ( max-width: 960px )
        #footer-menu
            display: none