.tittle
    font-size: 36px
    font-weight: 400
    margin: 0
    margin-top: 50px
.description
    font-size: 14px
    font-weight: 400
    margin: 20px 0
.adv
    display: flex
    padding: 10px 0
.adv_item
    display: inherit
    margin-right: auto
    .adv_item_num
        color: #65A7FF
        font-size: 48px
        font-weight: 700
    .adv_item_text
        font-size: 14px
        font-weight: 400
        margin: auto
        display: grid
        padding: 10px
        span
            font-weight: 700